.wrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    background: aquamarine;
}
body{
    background: orange;

}
 div{
    outline: 2px solid black;
   
 }
 .float{
    background: lime;
    padding: 50px 0;
   
 }

 .in_float{
    background: purple;
    outline: 3px solid black;
    width: 400px;
    float: left;
 }
 .in_float2{
    background: purple;
    outline: 3px solid black;
    width: 800px;
    float: left;

 }

 .in_float3{
    background: purple;
    outline: 3px solid black;
    width: 400px;
    float: left;

 }

 .in_float4{
    background: purple;
    outline: 3px solid black;
    width: 200px;
    float: left;

 }

 .float:after{
   content: "^";
   font-size: 30px;
   color: red;
 }